{% extends 'base.html' %}
{% block content %}

<h1>Violin Details</h1>
<div class="row">
  <div class="col s6">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ violin.name }}</span>
      <p>Provenance: {{ violin.provenance }}</p>
      <p>Year: {{ violin.year }}</p>
      <p>Inventory_no: {{ violin.inventory_no }}</p>
      <p>Tone: {{ violin.tone }}</p>
      <p>Length: {{ violin.length }}</p>
      <p>Price: {{ violin.price }}</p> 
    </div>
    <div class="card-action">
      <a href="{% url 'violins_update' violin.id %}">Edit</a>
      <a href="{% url 'violins_delete' violin.id %}">Delete</a>
    </div>
  </div>
</div>
<div class="col s6">
  <form action="{% url 'add_tuneup' violin.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ tuneup_form.as_p }}
    <input type="submit" class="btn" value="Add Service">
  </form>
  <br>
  {% if violin.tuned_for_today %}
    <div class="card-panel teal-text center-align">{{violin.name}} had all services for today</div>
  {% else %}
     <div class="card-panel red-text center-align">{{violin.name}} might need more maintenance</div>
  {% endif %}
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Service</th></tr>
    </thead>
    <tbody>
      {% for tuneup in violin.tuneup_set.all %}
        <tr>
          <td>{{tuneup.date}}</td>
          <td>{{tuneup.get_service_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
 <!-- New Markup Above -->
</div>
 <hr>
 <div class="row">
    <div class="col s6">
    <h3>{{ violin.name }}'s Accessories</h3>
    {% if violin.accessories.count %}
      {% for accessory in violin.accessories.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ accessory.color }}">{{ accessory.color }}</span> {{ accessory.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_accessory' violin.id accessory.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Accessories</h5>
    {% endif %}
  </div>
  <!-- Available Accessories will come after this line -->
   <div class="col s6">
    <h3>Available Accessories</h3>
    {% if accessories.count %}
      {% for accessory in accessories.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ accessory.color }}">{{ accessory.color }}</span> {{ accessory.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_accessory' violin.id accessory.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
      </div>
      {% endfor %}
    {% else %}
      <h5>{{violin.name}} Already Has All Accessories Available</h5>
    {% endif %}
  
</div>
<script>
const dateEl = document.getElementById('id_date');
  // M is Materialize's global variable
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selectEl = document.getElementById('id_service');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}